.App{
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar content"
  "footer footer";
  grid-template-rows: 60px 1fr 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.App-header{
  grid-area: header;
  background: blueviolet;
  color: #fff;
}
.App-navbar{
  font-weight: bold;
  grid-area: sidebar;
  background: #12ffcc;
  color: #324456;
}
.App-content{
  grid-area: content;
  background: #ccccff;
  color: #324456;
}
.App-footer{
  grid-area: footer;
  background: #324456;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.App-link{
  cursor: pointer;
  margin: 20px 0;
}
.App-header,
.App-navbar,
.App-content{
  padding: 20px;
}

.autor{
display: flex;
}
.autor img{
margin-right: 20px;
}

.setting{
margin-top: 50px;
}